@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.otf');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.otf');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf');
}

.text {
    -fx-font-family: "Inter";
    -fx-text-fill: -deepBlue;
}

* {
    -goodGreen: #3CEF3C;
    -rancidRed: #FF0E00;
    -okOrange: #FFBB00;
    -gray: #7E8891;
    -lightGray: #eeeeee;
    -delawareRed: #EF463C;
    -deepBlue: #1F282E;
    -bgGreen: #146714;
    -bgRed: #671414;
    -bgOrange: #675B14;
    -graySelected: rgb(126, 136, 145, 0.5);
    -bgGray: rgb(126, 136, 145, 0.2);
}