@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.otf');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.otf');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf');
}

.menuItem {
    -fx-background-color: transparent;
    -fx-text-fill: #ADB3CC;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-font-family: "Inter Medium";
}

.welcomeText {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 130px;
}

.nameText {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 80px;
}

.profileText {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: #ADB3CC;
    -fx-font-size: 22px;
}

.dottedLine {
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 5, 10;
    -fx-stroke: #ADB3CC;
}

.notifText{
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #ADB3CC;
    -fx-font-size: 22px;
}

.subMenuItem {
    -fx-background-color: transparent;
    -fx-text-fill: #ADB3CC;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-font-family: "Inter";
}

.shortcutContainer {
    -fx-background-color: rgba(74, 84, 133, 0.21);
    -fx-background-radius: 5px;
}