@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf');
}

@font-face {
    font-family: "Inter Semi Bold";
    src: url("fonts/Inter-SemiBold.otf");
}

.textfield {
    -fx-background-color: rgba(255, 255, 255, 0.45);
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.7);
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #343434;
    -fx-background-radius: 4px;
    -fx-font-family: "Inter Semi Bold";
}

.button:hover {
    -fx-background-color: #343434;
    -fx-text-fill: #ffffff;
}

.subTitle {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
}