.menuItem {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-font-family: "Inter Medium";
}

.welcomeText {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 130px;
}

.nameText {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 80px;
}

.profileFirstName {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: #1b1b1b;
    -fx-font-size: 18px;
}

.profileLastName{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}

.dottedLine {
    -fx-stroke-width: 1;
    
    -fx-stroke: #ffffff;
}

.notifText{
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
}

.subMenuItem {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-font-family: "Inter";
}

.subMenuItem:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.subMenuItem.active {
    -fx-text-fill: #1b1b1b;
}

.parentContainer {
    -fx-background-color: #EF463C;
}

.profileContainer {
    -fx-background-color: #ec4d44;
}

.profileIcon {
    -fx-background-color: transparent;
}

.logoutMenu {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}

.logoutItem {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.logoutLabel {
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #1b1b1b;
}



