.menuItem {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-font-family: "Inter Medium";
}

.welcomeText {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 130px;
}

.nameText {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 80px;
}

.profileTextFirstName {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}

.profileTextLastName{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 18px;
    -fx-text-fill: #EF463C;
}

.dottedLine {
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 5, 10;
    -fx-stroke: #ffffff;
}

.notifText{
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
}

.subMenuItem {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-font-family: "Inter";
}

.subMenuItem:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.subMenuItem.active {
    -fx-text-fill: #EF463C;
}

.parentContainer {
    -fx-background-color: #1F282E;
}

.profileContainer {
    -fx-background-color: #192025;
}